/* http://maxogden.com/fast-webview-applications */
a {  
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none; 
  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none; 
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none; 
}
input[type="checkbox"] { -webkit-appearance: none; }
input::-webkit-input-placeholder { opacity: .0; }

html, body {
  
  /*height: 100%;
  width: 100%;
  overflow: hidden;*/
}

/* layout */

#wrapper {
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

.page a {
  color: #666;
  background: #FFF; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /*background: #87a771;*/
  background-image: -webkit-linear-gradient(bottom, #688057 24%, #87A771 73%);
  color: #FFF;
  z-index: 2;
}

#flag {
  text-shadow: #666 1px -1px 1px;
  padding-top:6px; 
  margin-left: auto; 
  margin-right: auto; 
  width: 300px; 
  text-align: center; 
  display: block; 
  font-size: 25px
}


#wrapper {
  /*position: relative;*/
  height: 100%;
  height: 100%;
  /*top: 40px;
  left: 0;
  right: 0;
  bottom: 40px;*/
  /*overflow: none;*/
}
#main {
  /*position: absolute;*/
  width: 100%;  
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 50px 0;
  background: #FFF;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #333;
  z-index: 2;
}


#back-button {
  background: #333;
  color: #FFF;
  border-radius: 10px;
  padding: 7px;
  margin: 2px;
  text-align: center;
  width: 60px;
  display:block;
}

.nav-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.nav-button {
  float:left;
  height: 100%;
  width: 33.33%;
  text-align: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nav-button-inner {
  display: block;
  width: 99.5%;
  height: 90%;
  margin-top: 2px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(bottom, #222222 0%, #666666 100%);
}


.nav-button a, .nav-button a:visited {
  color: #FFF;
  text-decoration: none;

  display: block;
  padding: 14px 1%;
  text-shadow: #333 1px 1px 1px;
  
}

/* font styles */

#main p {
  line-height: 20px;
}


#main ul {
  width: 96%;
  padding: 0 2%;
  margin: 0;
}

#main li {
  line-height: 28px;
  list-style: none;

  height: 90px;

  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 80px 80px;

}
#main li a {
  text-decoration: none;
}


#main header h1 {
  display: inline-block;
  color: #333;
}

.story-list-liner {
  /*position: relative;*/
}
.story-list-item-img {
 
}
.story-list-item-title {
  /*display:inline-block;*/
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  padding-top: 5px;
  line-height: 16px;
}

/* story detail style */

.story-detail {
  width: 98%;
  padding: 0 1%;
}

.story-detail-title {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -1px;
}
.story-detail-img {
  width: 100%;
  height: auto;
  max-width: 900px !important;
}
.story-detail-metabox {
  padding: 5px;
  background: #EEE;
  border-radius: 5px;
}
.story-detail .wp-caption {
  display: none;
}
.story-detail-byline {
  font-size: 11px;
}
.story-detail-break {
  width: 100%;
  display: block;
  height: 5px;
  border-bottom: 2px solid #333;
  margin-bottom: 5px;
}

.story-detail p {
  max-width: 700px;
}


#schedulewrapper ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#schedulewrapper li {
  display: block;
  list-type: none;
  padding:5px;
  height: auto;

  border-bottom: 1px solid #333;
}
#schedulewrapper .time {
font-weight: bold;
}
#schedulewrapper .dateheader {
color: #FFF;
background: #333;
}


#loading {
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 20%;
  text-align: center;
  color: #FFF;
  background: #333;
  z-index: 100;
}

#intermediate {
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #FFF;
}
