/* http://maxogden.com/fast-webview-applications */
* {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none; 

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none; 

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none; 
}

input[type="checkbox"] { -webkit-appearance: none; }

input::-webkit-input-placeholder { opacity: .8; }


#main {
  margin: 40px;
  font-size: 14px;
}

#main pre {
  min-width: 320px;
  border-radius: 10px;
  color: #333;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  padding-right: 40px;
  background: #F8FAFC;
}

#main a {
  color: #00CCFF;
}

#main a:hover {
  color: #FE57A1;
}

#main img {
  width: 320px;
  height: auto;
}

#main p {
  line-height: 28px;
}

#main ul.nested {
  margin-top: 0;
  margin-bottom: 0;
}

#main ul li {
  line-height: 28px;
  list-style: none;
}

#main header h1 {
  margin: 15px;
  display: inline-block;
  color: #333;
}

#main header h2:not(.congrats) {
  color: #666;
  margin: 0; padding: 0;
}

#main header .congrats {
  padding-bottom: 0;
  margin-bottom: 0;
  color: #00CCFF;
  display: inline-block;
  font-size: 28px;
}

#main .topic {
  color: #CCC;
}

#main .clues {
  color: #FE57A1;
}
