/* http://maxogden.com/fast-webview-applications */
a {  
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none; 
  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none; 
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none; 
}
input[type="checkbox"] { -webkit-appearance: none; }
input::-webkit-input-placeholder { opacity: .0; }

html, body {
  
  /*height: 100%;
  width: 100%;
  overflow: hidden;*/
}

/* layout */
#wrapper, #main, section {
  /*-webkit-backface-visibility: hidden;*/
}

.page a {
  color: #666;
  background: #FFF; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /*background: #87a771;*/
  background-image: -webkit-linear-gradient(bottom, #688057 24%, #87A771 73%);
  color: #FFF;
  z-index: 2;
  display:table;
  box-shadow: 0px 1px 10px 1px #333;
}

#flag {
  text-shadow: #333 1px 1px 1px;
  padding-top:6px; 
  margin-left: auto; 
  margin-right: auto; 
  width: 300px; 
  text-align: center; 
  display: block; 
  font-size: 25px;
}


#wrapper {
  /*position: relative;*/
  height: 100%;
  height: 100%;
  /*top: 40px;
  left: 0;
  right: 0;
  bottom: 40px;*/
  overflow: hidden;
}
#main {
  /*position: absolute;*/
  width: 100%;  
  overflow-y: scroll;
  /*-webkit-overflow-scrolling: touch;*/
  padding: 50px 0;
  background: #FFF;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #333;
  z-index: 2;
  /*box-shadow: 0px -1px 10px 1px #333;*/
  
}


#back-button {
  background: #333;
  color: #FFF;
  border-radius: 10px;
  padding: 7px;
  margin: 2px;
  text-align: center;
  width: 60px;
  position: fixed;;
}

.nav-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.nav-button {
  float:left;
  height: 100%;
  width: 33.33%;
  text-align: center;
  padding-right: 1px;
  padding-top: 1px;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.nav-button:last-child {
  padding-right: 0;
}

.nav-button-inner {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(bottom, #333 0%, #666 100%);
  display: inline-block;
}


.nav-button a, .nav-button a:visited {
  color: #FFF;
  text-decoration: none;

  display: block;
  padding: 14px 1%;
  text-shadow: #333 1px 1px 1px;
  
}

.nav-button a:focus {
  background: #222;
}


#aboutbutton {
  position: fixed;
  right: 10px;
  top: 8px;
  color: #FFF;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  background: -webkit-linear-gradient(top, #666 0%, #333 100%);
  z-index: 10;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #333;
  font-weight: bold;
}


/* font styles */

#main p {
  line-height: 20px;
}


#main ul {
  width: 96%;
  padding: 0 2%;
  margin: 0;
}

#main li {
  line-height: 28px;
  list-style: none;

  height: 90px;

  border-bottom: 1px solid #e7e7e7;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 80px 80px;

}
#main li a {
  text-decoration: none;
}


#main header h1 {
  display: inline-block;
  color: #333;
}

.story-list-liner {
  /*position: relative;*/
}
.story-list-item-img {
 
}

#story-list-wrapper {
  margin-top: 10px;
}

#story-list-ul time {
  display: block;
  padding-left: 90px;
  font-size: 14px;
  color: #666;
}

.story-list-item-title {
  /*display:inline-block;*/
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  padding-top: 5px;
  line-height: 16px;
}

/* story detail style */

.story-detail {
  width: 98%;
  padding: 0 1%;
}

.story-detail-title {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -1px;
}
.story-detail-img {
  width: 100%;
  height: auto;
  max-width: 900px !important;
}
.story-detail-metabox {
  padding: 5px;
  background: #EEE;
  border-radius: 5px;
    max-width: 900px !important;
}
.story-detail img {
  width: 100%;
    max-width: 900px !important;
}
.story-detail iframe {
  width: 100%;
}
.story-detail .wp-caption {
  width: 100%;
    max-width: 900px !important;
}
.story-detail-byline {
  font-size: 11px;
}
.story-detail-break {
  width: 100%;
  display: block;
  height: 5px;
  border-bottom: 2px solid #333;
  margin-bottom: 5px;
}

.story-detail p {
  max-width: 700px;
}

.about-liner {
  padding: 2%;
  
}



/* **** */

#schedulewrapper ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#schedulewrapper li {
  display: block;
  list-type: none;
  padding:5px;
  height: auto;
  text-align: center;
  border-bottom: 1px solid #777;
}
#schedulewrapper .time {
  font-weight: bold;
}
#schedulewrapper .dateheader {
  color: #FFF;
  background: #333;
  font-size: 20px;
  padding: 13px 0px;
}


#schedulewrapper .event-wrapper {
	display:table;
	width: 100%;
}
#schedulewrapper .event-wrapper > * {
	display:table-cell;
	width: 33%;
	font-size: 16px;
	vertical-align: middle;
}

#schedulewrapper  .alternate:not(.dateheader) {
	background: #EEE;
}

/* **** */


#loading {
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 20%;
  text-align: center;
  color: #FFF;
  background: #333;
  z-index: 100;
}

#intermediate {
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #FFF;
}

#backbutton {
    background: -webkit-linear-gradient(top, #666 0%, #333 100%);
    border: 1px solid #333;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: 25px;
    margin-right: 2px;
    margin-top: 10px;
    padding: 0 7px 0 3px;
    position: fixed;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
}

#backbutton:before {
    background: -webkit-linear-gradient(-45deg, #666 0%, #333 100%);
    border: solid #333;
    border-width: 0 0 1px 1px;
    border-radius: 2px 0 2px 2px;
    content: '';
    z-index: -1;
    display: block;
    height: 21px;
    left: -11px;
    position: absolute;
    top: 3px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 21px;
}

#backbutton span {
    color: #fff;
    font-weight: bold;
    /*position: relative;*/
}​
