<div class="about-liner">

	<h2>Emerald Media Group</h2>

	<p>The EUG Trials app is powered by student journalists at the Oregon Daily Emerald. The Emerald is also producing 12 special sections in print for the 2012 Olympic Trials, the only daily newspaper distributed inside the gates at Hayward Field. Pick up a copy at the UO booth or at dozens of spots around campus, including each of the Gold Medal Game locations.</p>

	<p>The Emerald, founded in 1900, is a nonprofit company that delivers news, sports and culture to more than 200,000 people in the UO community. Since 1997, we have won the Pulitzer Prize of college journalism, the Associated Collegiate Press’ Pacemaker award, twice and have been named a finalist five other times in the print or online categories.</p>

	<p>This fall, the Emerald will begin its transition from a traditional newspaper to a more modern college media company. Learn more at <a href="http://future.dailyemerald.com" target="_blank">future.dailyemerald.com</a>.</p>

<p>
Emerald Media Group<br>
1222 E. 13th Ave. Suite 300<br>
Eugene, OR 97403<br>
541-346-5511<br>
publisher@dailyemerald.com<br>
</p>

</div>