<div class="about-liner">

	<h2>Powered by the Oregon Daily Emerald</h2>
	
	<p>This is our first mobile project. Let us know what you think! Now the normal stuff:</p>
	
	<p>The Oregon Daily Emerald Publishing Company, Inc., is the leading news and information source for 30,000 students, faculty and staff on the University of Oregon campus. The Emerald publishes a newspaper five days a week during the school year and weekly during the summer; and produces news, photographs and multimedia around the clock at <a href="http://dailyemerald.com">dailyemerald.com</a>.</p>
	
	<p>The Emerald is an 111-year-old independent, nonprofit company operated by a board of directors that includes students, university staff and community members. The Emerald employs four professional staff and about 60 part-time students.</p>

</div>