<div id="schedulewrapper">
<ul>
<li class="dateheader">
6/21/2012
</li>

<li>
  <div class="time" style="display:inline">10:45:00</div> : 
  Hammer Throw
  (Women - Trials)
</li>

<li>
  <div class="time" style="display:inline">13:00:00</div> : 
  Hammer Throw
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">3:00:00</div> : 
  Hammer Throw
  (Men - Trials)
</li>

<li>
  <div class="time" style="display:inline">5:00:00</div> : 
  Hammer Throw
  (Men - Final)
</li>

<li class="dateheader">
6/22/2012
</li>

<li>
  <div class="time" style="display:inline">13:00:00</div> : 
  100m
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">1:50:00</div> : 
  Long Jump
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">2:20:00</div> : 
  Discus Throw
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">3:05:00</div> : 
  Shot Put
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">3:10:00</div> : 
  400m
  (Men - 1st Round)
</li>

<li>
  <div class="time" style="display:inline">3:35:00</div> : 
  400m
  (Women - 1st Round)
</li>

<li>
  <div class="time" style="display:inline">4:00:00</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">4:30:00</div> : 
  High Jump
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">5:00:00</div> : 
  800m
  (Women - 1st Round)
</li>

<li>
  <div class="time" style="display:inline">5:20:00</div> : 
  800m
  (Men - 1st Round)
</li>

<li>
  <div class="time" style="display:inline">5:30:00</div> : 
  Pole Vault
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">5:40:00</div> : 
  100m Hurdles
  (Women - 1st Round)
</li>

<li>
  <div class="time" style="display:inline">5:45:00</div> : 
  Long Jump
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">6:00:00</div> : 
  100m
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">6:30:00</div> : 
  400m
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">6:45:00</div> : 
  10,000m
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">7:20:00</div> : 
  10,000m
  (Women - Final)
</li>

<li class="dateheader">
6/23/2012
</li>

<li>
  <div class="time" style="display:inline">9:30:00</div> : 
  110m Hurdles
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">10:20:00</div> : 
  Discus Throw
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">12:30:00</div> : 
  Pole Vault
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">12:30:00</div> : 
  Javelin Throw
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">3:00:00</div> : 
  Shot Put
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">3:00:00</div> : 
  Javelin Throw
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">3:10:00</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">3:15:00</div> : 
  100m Hurdles
  (Women - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">3:20:00</div> : 
  Triple Jump
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">3:40:00</div> : 
  100m
  (Women - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">4:00:00</div> : 
  100m
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">4:20:00</div> : 
  High Jump
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">4:30:00</div> : 
  800m
  (Women - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">4:45:00</div> : 
  800m
  (Men - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">5:00:00</div> : 
  400m
  (Men - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">5:15:00</div> : 
  400m
  (Women - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">5:30:00</div> : 
  1,500m
  (Men - Decathlon)
</li>

<li>
  <div class="time" style="display:inline">5:45:00</div> : 
  100m Hurdles
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">5:52:00</div> : 
  100m
  (Women - Final)
</li>

<li class="dateheader">
6/24/2012
</li>

<li>
  <div class="time" style="display:inline">14:25:00</div> : 
  Pole Vault
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">2:30:00</div> : 
  100m
  (Men - Semi-Final)
</li>

<li>
  <div class="time" style="display:inline">2:55:00</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">3:00:00</div> : 
  Long Jump
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">3:05:00</div> : 
  Discus Throw
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">3:30:00</div> : 
  Shot Put
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">4:20:00</div> : 
  400m
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">4:35:00</div> : 
  400m
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">4:48:00</div> : 
  100m
  (Men - Final)
</li>

<li class="dateheader">
6/25/2012
</li>

<li>
  <div class="time" style="display:inline">15:30:00</div> : 
  Discus Throw
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">4:50:00</div> : 
  3,000m Steeplechase
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">5:20:00</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">5:25:00</div> : 
  3,000m Steeplechase
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">5:30:00</div> : 
  Pole Vault
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">5:45:00</div> : 
  Triple Jump
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">5:50:00</div> : 
  High Jump
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">6:00:00</div> : 
  Javelin Throw
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">6:05:00</div> : 
  5,000m
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">6:50:00</div> : 
  800m
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">7:00:00</div> : 
  5,000m
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">7:47:00</div> : 
  800m
  (Men - Final)
</li>

<li class="dateheader">
6/26/2012
</li>

<li>
  <div class="time" style="display:inline"></div> : 
  
  ( - )
</li>

<li class="dateheader">
6/27/2012
</li>

<li>
  <div class="time" style="display:inline"></div> : 
  
  ( - )
</li>

<li class="dateheader">
6/28/2012
</li>

<li>
  <div class="time" style="display:inline">15:45:00</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">16:00:00</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">16:15:00</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">16:20:00</div> : 
  1,500m
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">16:30:00</div> : 
  Triple Jump
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">16:50:00</div> : 
  1,500m
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">17:00:00</div> : 
  High Jump
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">17:05:00</div> : 
  Pole Vault
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">17:30:00</div> : 
  400m Hurdles
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">17:40:00</div> : 
  Shot Put
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">18:00:00</div> : 
  400m Hurdles
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">18:05:00</div> : 
  Discus Throw
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">18:30:00</div> : 
  3,000m Steeplechase
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">18:45:00</div> : 
  200m
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">19:15:00</div> : 
  5,000m
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">19:38:00</div> : 
  5,000m
  (Men - Final)
</li>

<li class="dateheader">
6/29/2012
</li>

<li>
  <div class="time" style="display:inline">10:30am</div> : 
  100m Hurdles
  (Women - Heptathlon)
</li>

<li>
  <div class="time" style="display:inline">11:30am</div> : 
  High Jump
  (Women - Heptathlon)
</li>

<li>
  <div class="time" style="display:inline">1:15pm</div> : 
  Shot Put
  (Women - Heptathlon)
</li>

<li>
  <div class="time" style="display:inline">1:45pm</div> : 
  200m
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">2:15pm</div> : 
  200m
  (Women - Heptathlon)
</li>

<li>
  <div class="time" style="display:inline">2:30pm</div> : 
  Javelin Throw
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">2:35pm</div> : 
  Mile
  (Nike HS Girls - Exhibition Event)
</li>

<li>
  <div class="time" style="display:inline">2:45pm</div> : 
  Mile
  (Nike HS Boys - Exhibition Event)
</li>

<li>
  <div class="time" style="display:inline">2:55pm</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">3:00pm</div> : 
  200m
  (Women - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">3:20pm</div> : 
  400m Hurdles
  (Women - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">3:30pm</div> : 
  Shot Put
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">3:30pm</div> : 
  Long Jump
  (Women - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">3:35pm</div> : 
  400m Hurdles
  (Men - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">3:45pm</div> : 
  1,500m
  (Women - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">4:05pm</div> : 
  110m Hurdles
  (Men - Qualifying)
</li>

<li>
  <div class="time" style="display:inline">4:25pm</div> : 
  1,500m
  (Men - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">4:45pm</div> : 
  3,000m Steeplechase
  (Women - Final)
</li>

<li class="dateheader">
6/30/2012
</li>

<li>
  <div class="time" style="display:inline">7:30am</div> : 
  20km Race Walk
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">3:00pm</div> : 
  Long Jump
  (Women - Heptathlon)
</li>

<li>
  <div class="time" style="display:inline">3:45pm</div> : 
  100m
  (Boys &amp; Girls - Special Olympics)
</li>

<li>
  <div class="time" style="display:inline">4:10pm</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">4:15pm</div> : 
  Javelin Throw
  (Women - Heptathlon)
</li>

<li>
  <div class="time" style="display:inline">4:20pm</div> : 
  110m Hurdles
  (Men - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">4:40pm</div> : 
  Triple Jump
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">5:00pm</div> : 
  High Jump
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">5:20pm</div> : 
  200m
  (Boys &amp; Girls - USATF Youth)
</li>

<li>
  <div class="time" style="display:inline">5:40pm</div> : 
  400m
  (Women - Masters)
</li>

<li>
  <div class="time" style="display:inline">5:50pm</div> : 
  200m
  (Men - Masters)
</li>

<li>
  <div class="time" style="display:inline">6:00pm</div> : 
  200m
  (Men - Semi-Finals)
</li>

<li>
  <div class="time" style="display:inline">6:20pm</div> : 
  800m
  (Women - Heptathlon)
</li>

<li>
  <div class="time" style="display:inline">6:40pm</div> : 
  110m Hurdles
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">6:50pm</div> : 
  200m
  (Women - Final)
</li>

<li class="dateheader">
7/1/2012
</li>

<li>
  <div class="time" style="display:inline">7:30am</div> : 
  20km Race Walk
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">2:40pm</div> : 
  
  ( - )
</li>

<li>
  <div class="time" style="display:inline">2:45pm</div> : 
  Javelin Throw
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">3:00pm</div> : 
  Long Jump
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">4:02pm</div> : 
  400m Hurdles
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">4:12pm</div> : 
  400m Hurdles
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">4:23pm</div> : 
  1,500m
  (Women - Final)
</li>

<li>
  <div class="time" style="display:inline">4:37pm</div> : 
  1,500m
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">4:50pm</div> : 
  200m
  (Men - Final)
</li>

<li>
  <div class="time" style="display:inline">4:55pm</div> : 
  
  ( - )
</li>
</ul>

</div>