<div id="schedulewrapper">

	<ul>

	<li class="dateheader alternate">
	  Thursday, June 28
	</li>

	<li class="event-wrapper">
	  <div class="time">3:15 p.m.</div> 
	  <div class="event">Jason Lester "Journey for a Better World" Exhibition Event</div>
	  <div>
	    <div></div>
	    <div></div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">3:30 p.m.</div> 
	  <div class="event">National Anthem</div>
	  <div>
	    <div></div>
	    <div></div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">3:35 p.m.</div> 
	  <div class="event">Wounded Warrior 100m Sponsored by Deloitte Exhibition Event</div>
	  <div>
	    <div></div>
	    <div></div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">3:50 p.m.</div> 
	  <div class="event">1,500m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">4:20 p.m.</div> 
	  <div class="event">1,500m</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">4:30 p.m.</div> 
	  <div class="event">Triple Jump</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">5 p.m.</div> 
	  <div class="event">High Jump</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">5:05 p.m.</div> 
	  <div class="event">Pole Vault</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">5:30 p.m.</div> 
	  <div class="event">400m Hurdles</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">5:40 p.m.</div> 
	  <div class="event">Shot Put</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">6 p.m.</div> 
	  <div class="event">400m Hurdles</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">6:05 p.m.</div> 
	  <div class="event">Discus Throw</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">6:30 p.m.</div> 
	  <div class="event">3,000m Steeplechase</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">6:45 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">7:15 p.m.</div> 
	  <div class="event">5,000m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">7:38 p.m.</div> 
	  <div class="event">5,000m</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="dateheader">
	  Friday, June 29
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">10:30 a.m.</div> 
	  <div class="event">100m Hurdles</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Heptathlon</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">11:30 a.m.</div> 
	  <div class="event">High Jump</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Heptathlon</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">1:15 p.m.</div> 
	  <div class="event">Shot Put</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Heptathlon</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">1:45 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">2:15 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Heptathlon</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">2:30 p.m.</div> 
	  <div class="event">Javelin Throw</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">2:35 p.m.</div> 
	  <div class="event">Mile</div>
	  <div>
	    <div class="gender">Nike HS Girls</div>
	    <div class="round">Exhibition Event</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">2:45 p.m.</div> 
	  <div class="event">Mile</div>
	  <div>
	    <div class="gender">Nike HS Boys</div>
	    <div class="round">Exhibition Event</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">2:55 p.m.</div> 
	  <div class="event">National Anthem</div>
	  <div>
	    <div></div>
	    <div></div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">3 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Semi-Finals</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">3:20 p.m.</div> 
	  <div class="event">400m Hurdles</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Semi-Finals</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">3:30 p.m.</div> 
	  <div class="event">Shot Put</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">3:30 p.m.</div> 
	  <div class="event">Long Jump</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">3:35 p.m.</div> 
	  <div class="event">400m Hurdles</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Semi-Finals</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">3:45 p.m.</div> 
	  <div class="event">1,500m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Semi-Finals</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">4:05 p.m.</div> 
	  <div class="event">110m Hurdles</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Qualifying</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">4:25 p.m.</div> 
	  <div class="event">1,500m</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Semi-Finals</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">4:45 p.m.</div> 
	  <div class="event">3,000m Steeplechase</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="dateheader alternate">
	  Saturday, June 30
	</li>

	<li class="event-wrapper">
	  <div class="time">7:30 a.m.</div> 
	  <div class="event">20km Race Walk</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">3 p.m.</div> 
	  <div class="event">Long Jump</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Heptathlon</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">3:35 p.m.</div> 
	  <div class="event">100m</div>
	  <div>
	    <div class="gender">Boys &amp; Girls</div>
	    <div class="round">Special Olympics</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">4:10 p.m.</div> 
	  <div class="event">National Anthem</div>
	  <div>
	    <div></div>
	    <div></div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">4:15 p.m.</div> 
	  <div class="event">Javelin Throw</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Heptathlon</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">4:20 p.m.</div> 
	  <div class="event">110m Hurdles</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Semi-Finals</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">4:40 p.m.</div> 
	  <div class="event">Triple Jump</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">5 p.m.</div> 
	  <div class="event">High Jump</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">5:20 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Boys &amp; Girls</div>
	    <div class="round">USATF Youth</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">5:40 p.m.</div> 
	  <div class="event">400m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Masters</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">5:50 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Masters</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">6 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Semi-Finals</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">6:20 p.m.</div> 
	  <div class="event">800m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Heptathlon</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">6:40 p.m.</div> 
	  <div class="event">110m Hurdles</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">6:50 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="dateheader alternate">
	  Sunday, July 1
	</li>

	<li class="event-wrapper">
	  <div class="time">7:30 a.m.</div> 
	  <div class="event">20km Race Walk</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">2:40 p.m.</div> 
	  <div class="event">National Anthem</div>
	  <div>
	    <div></div>
	    <div></div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">2:45 p.m.</div> 
	  <div class="event">Javelin Throw</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">3 p.m.</div> 
	  <div class="event">Long Jump</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">4:02 p.m.</div> 
	  <div class="event">400m Hurdles</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">4:12 p.m.</div> 
	  <div class="event">400m Hurdles</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">4:23 p.m.</div> 
	  <div class="event">1,500m</div>
	  <div>
	    <div class="gender">Women</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">4:37 p.m.</div> 
	  <div class="event">1,500m</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper">
	  <div class="time">4:50 p.m.</div> 
	  <div class="event">200m</div>
	  <div>
	    <div class="gender">Men</div>
	    <div class="round">Final</div>
	  </div>
	</li>

	<li class="event-wrapper alternate">
	  <div class="time">4:55 p.m.</div> 
	  <div class="event">Closing Ceremonies - Immediately following the Men's 200m Final</div>
	  <div>
	    <div></div>
	    <div></div>
	  </div>
	</li>
	</ul>

</div>