<div class="story-detail">
	<h2 class="story-detail-title"><%= story.title %></h2>


	<% if (typeof story.thumbnail === "string") { %>
		<img class="story-detail-img" src="<%= story.thumbnail %>">
	<% } %>


	<div class="story-detail-metabox">
		<span style="story-detail-byline">By <%= story.author %></span><br>
		<time class="timeago" datetime="<%= story.timestamp %>"></time><br>
		
		<iframe src="//www.facebook.com/plugins/like.php?href=<%= story.permalink %>%2F&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font=lucida+grande&amp;height=35&amp;appId=201717029854731" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:30px; margin-top:5px;" allowTransparency="true"></iframe>
	</div>

	<p><%= story.content %></p>
</div><!-- .story-detail -->